/* src/custom-theme.css - если переименуешь в .css и оставишь: */
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #fafafa; /* Светлый фон */
  color: rgba(0, 0, 0, 0.87); /* Тёмный текст */
}
